/*PORTADA MOBILE************************************************/
.portada-index {
    @extend %centered-flex-column;
    @include padding-responsive(2rem, 2.5rem, 3rem);
    background-color: aquamarine;
}

.portada-index-titulo {
    @include responsive-text(20px, 30px, 40px);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.portada-index-parrafo {
    @include responsive-text(12px, 16px, 26px);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    gap: 10px;
    padding: 1rem;
}

.imagen-portada {
    display: block;
    margin: auto;
    @include padding-responsive(1rem, 1.5rem, 2rem);
}
